html
  head
    title= title
    script(type='text/javascript').
      async function go() {
        await ethereum.request({ method: 'eth_requestAccounts' });
        const accounts = await ethereum.request({ method: 'eth_accounts' });

        /*accounts.forEach(function(account) {
          var iframe = document.createElement('iframe');
          iframe.width = "100%"
          iframe.src = "/api/tx/"+account;
          document.body.appendChild(iframe);
        });*/
      }
      var something = async function() {
        var hexdata = "#{hexdata}";
        var from = "#{from}";
        var sale = "#{bridgeSaleAddress}";
        console.log('something', sale, from, hexdata);

        const txHash = await ethereum.request({
          method: 'eth_sendTransaction',
          params: [{from: from, to: sale, data:hexdata, chainId: "777"}],
        });
        console.log(txHash);
      };
      go();
  body
    h1 Welcome to test bridge communication
    h4 Bridge Address: #{bridgeAddress}
    p Bridge is on block #{bridgeBlock}
    h4 Bridge Sale Address: #{bridgeSaleAddress}
    pre
      p Step 1:
      | Switch to the devETH network
      | Send your devETH to the 0xD000000000000000000000000000000000000B1e address. This smokes it like a doobie aka BURNS IT.
      | Note: be careful to not smoke any cheapETH.
      p Step 2:
      | Switch to the cheapETH network
      | Connect your address here with metamask
      | Visit bridge.cheapeth.org/&lt;transaction id&gt;
      | Claim your cheapETH (1 for every 100 devETH you burn)

    h3 Claiming transaction #{tx}
    button(onclick='something()') Claim

    a(href='https://github.com/cheapETH/bridge')
      p See the bridge code



